@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,400;1,500;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,400;1,500;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,400;1,500;1,900&display=swap');
body{
    margin: 0;
    padding: 0;
    font-family: "Epilogue", serif;
    background-color: red;
}

.homepage {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column; 
    background-color: rgb(236, 173, 173);
}


.banner{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;  
}

.banner-up{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid #ddd;
    padding: 0px 0px; 
}
.banner-up-left{
    padding-left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Archivo;
}

 .banner-up-left-left{
    padding-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Archivo;
    font-size: 24px;
}

.banner-up-left-right{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 26px;
}

.banner-up-left-right-icon{
    margin-right: 10px;
    font-size: 20px;
    color: #2e2b2b;
    
}

.banner-up-left-right-input{
    height: auto;
    font-size: 60px; 
    opacity: 0.4;
    color: #fff;
}
.banner-up-left-right-input-field{
    min-width: 220px;
    padding: 10px;
    font-size: 15px;
    border: 1px solid #ffffff;
    border-radius: 5px;
}

.banner-up-left-right-input-field::placeholder{
    color: #aaa;
    transition: color 0.3s ease; 
}

.banner-up-left-right-input-field:hover::placeholder,
.banner-up-left-right-input-field:focus::placeholder{
    color: #fff;
}

.banner-up-left-right-input-field:hover,
.banner-up-left-right-input-field:focus {
    min-width: 250px;
    display: inline-block;
    line-height: 25px;
    border-color: #7095d4;
    background: #7095d4;
    color: #fff;

    border-radius: 5px;
    line-height: 25px;
    transition: all 0.3s ease;
}

.banner-up-left-text{
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 80px;
    font-size: 24px; 
    line-height: 30px; 
    font-weight: 700; 
    color: #636AE8FF;
    margin-left: 17px;
}

.banner-up-right{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.menu-list{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-right: 20px;
}

.menu-item {
    font-family: Inter, sans-serif;
    font-size: 14px;
}

.menu-item a{
    text-decoration: none;
    color: #565E6CFF;

}

.menu-item a:hover {
    color: #fff;
    background-color: #636AE8FF;
    border-radius: 10px;
    padding: 10px 15px;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    transition: all 0.3s ease;
}

.loginmenu{
    font-family: Inter, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginmenu-login{
    background-color: #ffffff;
}

.loginmenu-login a{
    text-decoration: none;
    color: #636AE8FF;
} 

.loginmenu-login :hover{
    color: #fff;
    background-color: #636AE8FF;
    border-radius: 10px;
    padding: 10px 15px;
    display: inline-block;
    height: 25px;
    width: 40px;
    line-height: 25px;
    transition: all 0.3s ease;
    align-items: center;
}
.loginmenu-login-a a:hover{
    color: #fff;
    background-color: #636AE8FF;
    border-radius: 10px;
    padding: 10px 15px;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    transition: all 0.3s ease;
}

.loginmenu-login{
    color: #636AE8FF;
    background: rgb(255, 255, 255);
    font-size: 16px;
    padding:0 16px;
    line-height: 26px;
    font-weight: 400;
}

.loginmenu-subscribe{
    background-color: #636AE8FF;
    height: 44px;
    width: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px;
    border-radius: 10px;
}

.loginmenu-subscribe a{
    text-decoration: none;
} 

.loginmenu-subscribe-a{
    color: #fff;
    height: 25px;
    line-height: 25px;
}

.loginmenu-subscribe-a:hover{
    height: 44px;
    width: 110px;
    color: #636AE8FF;
    background-color: #fff;
    border-radius: 10px;
    border-color: red;
    border:2px;
    padding: 10px 15px;
    height: 25px;
    line-height: 25px;
    transition: all 0.8s ease;
}

.subscribe-text{
    font-family: Inter, sans-serif;
    font-size: 16px;
    
}

.banner-main{
    position: relative;
    width: 100%;
}

.banner-main-bigpicture img{
    width: 100%;
    display: block;
}

.banner-main-thongbao {
    position: absolute;
    top: 213px;
    left: 152px;
    width: 413px;
    height: 436px;
    background-color: rgba(255, 255, 255, 1);
    color: #fff;
    padding: 10px 20px;
    border-radius: 16px;
    border-width: 1px; 
    border-color: #EA916EFF;
    z-index: 10;
}
.tb_container{
    display: flex;
    padding: 0 0;
    flex-direction: column;
    position: relative;
}

.tb_container_title{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    top: -28px;
    left: 92px;
    height: 36px;
    width: 229px;
    background: #22CCB2FF;
    color: #ffffff;
    font-family: Inter;
    font-size: 14px;

}


.tb_container_body{
    width: 100%;
    height: 100%;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;

}

.tb_container_body_text1{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #636AE8FF;
    font-size: 20px;
    line-height: 10px; 
    font-weight: 700;
    font-family: Archivo;
    font-style: normal;

}
.tb_container_body_text2{
     width: 82%;
    font-size: 14px;
    line-height: 22px;
    font-family: Inter, sans-serif;
    color: #333;
}

.tb_container_body_text{
    display: flex;
    justify-content: top;
    align-items: center;
    flex-direction: column;
    height: 100%;
    min-height: 245px;
}

.tb_container_body_hinhavatar{
    background-color: #ffffff;
    height: 36px;
    width: 36px;
    border-radius: 18px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tb_container_body_hinhavatar img{
    height: 100%;
    width: auto;
    object-fit: cover;
}

.tb_container_body_hinhavatar_name{
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
    margin-top: 10px;
    padding-bottom: 20px;
}

.tb_container_body_button{
    height: 46px;
    width: 120px;
    background: #636AE8;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tb_container_body_button: hover{
    min-width: 122px;
    display: inline-block;
    border-color: #7095d4;
    background: #7095d4;
    color: #fff;

    border-radius: 5px;
    line-height: 25px;
    transition: all 0.3s ease;
}

.tb_container_body_button a{
    text-decoration: none;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.tb_container_body_button_trai{
    background: #636AE8;
}

.tb_container_body_button_phai{
    margin-left: 15px;
}

.main{
    width: 100%;
    min-height: 100px;
    background-color: rgb(255, 255, 255);
}
.main_recipes,
.main__recipes_video{
    width: 100%;
    height: 552px;
    display: flex;
    justify-content: top;
    align-items: center;
    background: #ffffff;
    border: #aaa;
    border: 1px;
    flex-direction: column;
}


.main_recipes_title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main_recipes_title_a{
    font-family: Lora; 
    font-size: 40px; 
    line-height: 56px; 
    font-weight: 700; 
    color: #636AE8FF;
    font-style: normal;
    padding-top: 63px;

}
.main_recipes_title_b{
    height: 30px;
    line-height: 30px;
    font-size: 20px;
    margin: 0 0;
    padding: 0 0;
    color: #171A1FFF;
    font-weight: 400; 
    text-align: center;
    font-family: Inter;
}

.main_recipes_list_top {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
    height: auto;
}

.recipes_card{
    height: 100%;
    width: auto;
    object-fit: cover;
}

.main_recipes_list{
    background-color: #ffffff;
}



.main_recipes_list_hinh {
    background-color: #636AE8FF;
    height: 176px;
    border-radius: 0px;
    margin-bottom: 10px;
}



.main_recipes_list_name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    max-width: 100%;
    height: 60px;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main_recipes_list_name_left{
 width: 190px;
}

.main_recipes_list_name_right{
    margin-right: 30px;
}
.recipes_bookmark{
    height: 36px;
    width: 36px;
    border-radius: 18px; 
    border-width: 3px; 
    border-color: #686583;
    border-style: solid; 
    gap: 0px;
}

.main_recipes_list_time {
    font-size: 14px;
    color: #636AE8FF;
}

.main_recipes_link{
    text-decoration: none;
    color: #1A1D22;
}


.main_Editor_pick {
    width: 100%;
    height: 796px;
    display: flex;
    justify-content: top;
    align-items: center;
    background: #ffffff;
    border: #aaa;
    border: 1px;
    flex-direction: column;
}

.main_Editor_pick_list_top{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
    height: auto;
    width: 70%;
}

.main_Editor_pick_list{
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-width: 500px;
}

.main_Editor_pick_list_hinh{
    background-color: #636AE8FF;
    height: 218px;
    width: 207px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.main_Editor_pick_list_hinh img{
    height: 100%;
    width: auto;
    object-fit: cover;
}

.main_Editor_pick_list_right{
    display: flex;
    justify-content: center;
    align-items:left;
    flex-direction: column;
    margin: 20px;
    width: 100%;
}

.main_Editor_pick_list_name{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    max-width: 100%;
    height: 60px;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main_Editor_pick_list_name_left{
 width: 190px;
}

.main_Editor_pick_list_name_right{
    margin-right: 5px;
}

.main_Editor_pick_list_time{
    font-size: 14px;
    color: #424955FF;
}

.main_Editor_pick_link{
    text-decoration: none;
    color: #1A1D22;
}

.main_Editor_pick_list_avatar{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: row;
    margin-top: 10px;
    }

.Editor_avatar{
    background-color: #ffffff;
    height: 44px;
    width: 44px !important;
    border-radius: 22px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Editor_avatar img{
    height: 100%;
    width: auto;
    object-fit: cover;
}
.Editor_food{
    height: 100%;
    width: auto;
    object-fit: cover;
}

.Editor_name{
    width: 100%;
    align-items: left;
    color: #323842FF;
    font-size: 16px;
    line-height: 26px;
    font-weight: 600;
    margin-left: 15px;
}

.Editor_introdue{
    width: 100%;
    height: auto;
    margin: 10 15 15 0;

}

.foot{
    width: 100%;
    min-height:380px;
    background-color: #1D2128FF;
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.foot_section_left{
    width: 50%;
    height: 100%;
    min-width: 550px;
    background-color: rgb(225, 187, 187);
    display: flex;
    justify-content: center;
    align-items: top;
   

}
.foot_section_right{
    width: 50%;
    height: 100%;
    background-color: rgb(100, 100, 187);
    display: flex;
    justify-content: center;
    align-items: center;


.foot_aboutUs{
    width: 100%;
    font-family: Poppins; 
    font-size: 14px; 
    line-height: 22px; 
    font-weight: 700; 
    color: #FFFFFFFF;
    text-align: left;
}
