body{
    display: flex;
    background-color: rgb(255, 255, 255);
    justify-content: center;
}
body > div{
    height: auto;
    align-content: center;
    

}

.toast{
    display: flex;
    align-items: center;
    background-color: fff;
    border-radius: 2px;
    border-left:4px solid;
    max-width: 600px;
    min-width: 400px;
    padding: 5px 0;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
    /* margin: 5px 5px; */
} 

.toast + .toast{
    margin-top: 24px;
} 

.toast__icon{
    font-size: 24px;
}

.toast__icon,
.toast__close{
    font-size: 20px;
    color: rgba(152, 28, 28, 0.3);
    padding: 0 16px;
    cursor: pointer;

}

.toast__body{
    flex-grow: 1;

}

.toast__title{
    font-size: 16px;
    font-weight: 600;
    color:#333
}

.toast__msg{
    font-size: 14px;
    font-weight: 600;
    color:#888;
    margin-top: 4px; 
    line-height: 1.5;
}

.toast--succes{
    border-color: aquamarine;
}
.toast--succes .toast--icon{
    border-color: aquamarine;
}


.toast--inf{
    border-color: red;
}

  
.toast--warning{
    border-color: blue;
}

.toast--erro{
    border-color: #f5bb1c;
}



/* Selector: Chọn tất cả các thẻ <div> là con trực tiếp (direct child) 
của thẻ <body>.  */
.btn{
    display: inline-block;
    text-decoration: none;
    background-color: transparent;
    border: none;
    outline: none;
    color: #fff;
    padding: 12px 48px;
    border-radius: 50px;
    font-weight: bold;
    cursor: pointer;
    transition: opacity .2s; ease;

}
.btn:hover{
    opacity: 0.2;
}
.btn + .btn{
    margin-left:16px;
}
.btn__success{
    background-color: rgb(129, 169, 29);
}
.btn__warn{
    background-color: red;
}
.btn__danger{
    background-color: blue;
}
.btn__disabled{
    opacity: 0.4 !important;
    cursor: default;
}