body{
    display: flex;
    background-color: rgb(255, 255, 255);
    /* justify-content: center; */
    height: 100%;
    

}
body > div{
    height: 20px;
}
/* Selector: Chọn tất cả các thẻ <div> là con trực tiếp (direct child) 
của thẻ <body>.  */
.btn{
    display: inline-block;
    text-decoration: none;
    background-color: transparent;
    border: none;
    outline: none;
    color: #fff;
    padding: 12px 48px;
    border-radius: 50px;
    font-weight: bold;
    cursor: pointer;
    transition: opacity .2s; ease;

}
.btn:hover{
    opacity: 0.2;
}
.btn + .btn{
    margin-left:16px;
}
.btn__success{
    background-color: rgb(129, 169, 29);
}
.btn__warn{
    background-color: red;
}
.btn__danger{
    background-color: blue;
}
.btn__disabled{
    opacity: 0.4 !important;
    cursor: default;
}

.toast{
    display: flex;
    align-items: center;
    background-color: fff;
    border-radius: 2px;
    border-left:4px solid;
    padding: 20px 0;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
    /* margin: 5px 5px; */
}         
.toast +.toast{
    margin-top: 24px;
}   
.toast__icon{
    font-size: 24px;
}
.toast__icon,
.toast__close{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.3);
    padding: 0 16px;

}

.toast__body{

}
.toast__title{

}
.toast__msg{

}
